:root {
  --color-bg-0: rgb(202, 216, 228);
  --color-bg-1: hsl(209, 36%, 86%);
  --color-bg-2: hsl(224, 44%, 95%);
  --color-button-1: #007acc;
  --color-button-2: #189cff;
  --color-white-box-bg: #fbfbfb;
  --color-box-shadow: #0000001a;
  --color-download-button-bg: #007acc;
  --color-download-button-active-bg: #189cff;
  --color-download-button-fg: #fff;
  --color-github-black: #24292f;
  --color-alert-bg: #fff3cd;
  --color-alert-fg: #856404;
}

main.white-box {
  max-width: 800px;
  width: 100%;
  margin: 1rem auto;
  padding: 2rem;
  box-sizing: border-box;
  overflow: visible;

  border-radius: 8px;
  box-shadow: 0 4px 8px var(--color-box-shadow);

  background-color: var(--color-white-box-bg);
}

.astro-code {
  padding: 10px;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

html {
  background-attachment: fixed;
  background-image: linear-gradient(
    180deg,
    var(--color-bg-0) 0%,
    var(--color-bg-1) 15%,
    var(--color-bg-2) 50%
  );
}

footer {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul.download-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  padding: 0;
}

ul.download-links > li > a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: var(--color-download-button-bg);
  color: var(--color-download-button-fg);
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

ul.download-links > li > a:hover {
  background-color: var(--color-download-button-active-bg);
}
